<div class="container">
  <div style="display: flex; justify-content: space-between;">
    <mat-form-field>
      <mat-label>Search Task</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Title o Description" #input>
    </mat-form-field>

    <button mat-fab style="background-color: lightgray;" (click)="openAddModal(modalAddTemplate)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <!-- Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" matSort>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- state Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element" style="margin: auto;">
        <mat-icon style="color: green;" *ngIf="element.state == 'fatto'">check</mat-icon>
        <mat-icon style="color: yellow;" *ngIf="element.state == 'in corso'">sync</mat-icon>
        <mat-icon style="color: red;" *ngIf="element.state == 'da fare'">close</mat-icon>
      </td>
    </ng-container>

     <!-- Actions Column -->
     <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button style="color: gray;" (click)="openEditModal(modalEditTemplate, element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button style="color: rgb(218, 20, 20);" (click)="openDeleteModal(modalDeleteTemplate, element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>

<div class="container">
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page of users"></mat-paginator>
</div>

<ng-template #modalAddTemplate>
  <div style="max-width: 600px">
    <div mat-dialog-content>
      <p class="m-0">
        Vuoi creare un nuovo task
      </p>
      <mat-form-field style="width: 100%;">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Inserisci il Title della Task">
      </mat-form-field>
      <br>
      <mat-form-field style="width: 100%;">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Inserisci la Description della Task"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field style="width: 100%;">
        <mat-label>State</mat-label>
        <mat-select placeholder="Inserisci lo State della Task">
          <mat-option value="fatto">Fatto</mat-option>
          <mat-option value="in corso">In Corso</mat-option>
          <mat-option value="da fare">Da Fare</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions style="width: 100%; margin-bottom: 20px; ">
      <button mat-stroked-button (click)="closeModal()">ANNULLA</button>
      <button mat-stroked-button (click)="addTask(taskSelected)">CREA</button>
    </div>
  </div>
</ng-template>

<ng-template #modalEditTemplate>
  <div style="max-width: 600px">
    <div mat-dialog-content>
      <p class="m-0">
        Vuoi modificare il task: {{taskSelected.title}}
      </p>
      <mat-form-field style="width: 100%;">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Inserisci il Title della Task" [(ngModel)]="taskSelected.title">
      </mat-form-field>
      <br>
      <mat-form-field style="width: 100%;">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Inserisci la Description della Task" [(ngModel)]="taskSelected.description"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field style="width: 100%;">
        <mat-label>State</mat-label>
        <mat-select placeholder="Inserisci lo State della Task" [(ngModel)]="taskSelected.state">
          <mat-option value="fatto">Fatto</mat-option>
          <mat-option value="in corso">In Corso</mat-option>
          <mat-option value="da fare">Da Fare</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions style="width: 100%; margin-bottom: 20px; ">
      <button mat-stroked-button (click)="closeModal()">ANNULLA</button>
      <button mat-stroked-button (click)="editTask(taskSelected)">MODIFICA</button>
    </div>
  </div>
</ng-template>

<ng-template #modalDeleteTemplate>
  <div style="max-width: 600px">
    <div mat-dialog-content class="tw-text-sm corpoModale log-mod">
      <p class="m-0">
        Vuoi eliminare il task: {{taskSelected.title}}
      </p>
    </div>
    <div mat-dialog-actions>
      <button mat-stroked-button (click)="closeModal()">ANNULLA</button>
      <button mat-stroked-button (click)="deleteTask(taskSelected.id)">ELIMINA</button>
    </div>
  </div>
</ng-template>
